/*Section 1*/
#hero_container{
  background-color: #1F2937;
  margin-top: 0rem; 
  padding-top: 5rem;
  padding-bottom: 5rem;
}

#hero_container h1{
  font-size: 48px; 
  font-weight: bolder; 
  color: #F9FAF8;
}

/*Note: The following style is re-used since it's listed as hero secondary text
  and header links, it also looked close to the CTA subtext so I used it for that too,
  it's located up here since it's the first occurrence of the rule(going by how i have organised them)*/
#hero_container p, header a, #CTA p {
  font-size: 18px;
  color: #E5E7EB;
}
#hero_text_container
{flex: 0 1 30%;}

#hero_img_container
{flex-grow: 0.4;}

#hero_img{
  display: flex; 
  background-color: #6d747d; 
  min-width: 25rem;
  min-height: 15rem;
  max-height: 20rem;
  justify-content: center; 
  align-items: center;
  flex-grow: 0.5;
}
.spacer
{flex-grow: 0.15;}
.spacer_small
{flex-grow: 0.1;}

/*Section 2*/
#gallery_container{
  margin-top: 5rem;
  margin-bottom: 5rem; 
  padding-left: 20rem; 
  padding-right: 20rem;
}

#gallery_header_text{
  font-size: 36px; 
  font-weight: bolder; 
  color: #1F2937;
}
#gallery_img_container{
  align-items: flex-start;
  flex-wrap: wrap;
}
#gallery_img_container p
{text-align: center;}

.gallery_item{
  display: flex;
  flex-wrap: wrap;
  max-width: 12.5%;
  align-items: center;
  justify-content: center;
}

.gallery_item img{
  border-color: #3882F6;
  border-radius: 15%;
  border-style: solid;
  border-width: 10px;
  min-width: 10rem;
  min-height: 10rem;
  max-width: 10%;
  max-height: 10%;
}

/*Section 3*/
#quote_section{
  background-color: #E5E7EB;
  padding-bottom: 3rem;
}

.quote_text{
  font-size: 36px; 
  font-weight: light;
  font-style: italic;
  color: #1F2937; 
  text-align: center;
  padding-top: 5rem;
}

#quote_section cite{
  font-size: 18px; 
  font-weight: bolder;
  padding-left: 25%;
}

/*Section 4*/
#CTA{
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 5rem;
  margin-bottom: 5rem; 
  background-color: #3882F6;
  border-radius: 5%; 
  border-style: solid; 
  border-color:#3882F6;
}

#CTA h3{
  font-size: 24px; 
  font-weight: bolder;
  color: #E5E7EB;
}

/*Header and footer*/
header, footer{
  background-color: #1F2937;
  color: #E5E7EB;
}

header{
  align-items: center; 
  align-content: flex-end;
}

header img{
  max-height: 5rem;
  display: flex;
}

footer
{font-size: 18px;}

/*Misc/other*/
@font-face {
    font-family: 'Roboto';
    src: url(fonts/Roboto/Roboto-Black.ttf) format('truetype');
}
*{
  font-family: 'Roboto',sans-serif;
  box-sizing: border-box;
}

body
{margin: 0%;}

.flex-container{
  display: flex;
  justify-content: space-around; 
  align-items: center;
  flex-wrap: wrap;
}

.flex-container h3
{flex-grow: .7;}

button{
  background-color: #3882F6; 
  color: #E5E7EB; 
  border-radius: 15%;
  border-color: #E5E7EB;
  border-style: solid;
  min-height: 2rem; 
  max-height: 5rem; 
  padding-left: 2rem;
  padding-right: 2rem;
}

.Center_div
{text-align: center;}