html
{background-color: #1F2937;}

h1,h2,h3,h4,h5,p
{color:white;}

body{
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
button{
    padding: 1rem;
    margin: 1rem;
    font-weight: bolder;
    border: 5px solid #8b94b1;
    border-radius: 10%; 
}
#Num_pad{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 20rem;
}
#display{
    width: 20rem;
    background-color: black;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}